.mi-foto{
    border-radius: 50%;
    height: 100px;
    transition: 1s;
}
.mi-foto:hover{
    border-radius: 10%;
    transition: 0.5s;
}
.secciones{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.primera-seccion h1 {
    font-size: 60px;
    text-align: center;
    
}
.primera-seccion h2 {
    text-align: center;
    transition: 1s;
}
.primera-seccion h2:hover {
    font-size: 2em;
    transition: 1s;
}
.primera-seccion  p, li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}
.botones{
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.botones button{
    display: inline-block;
    box-sizing: border-box;
    width: auto;
    height: auto;
    margin: 0px 0px 0px 0px;
    padding: 10px 15px 10px 15px;
    background: linear-gradient(101deg, #366a9b 87%, rgba(85, 98, 219, 1) 95%);
    border-top-right-radius: 0px;
    border-top-left-radius: 28px;
    border-bottom-right-radius: 28px;
    border-bottom-left-radius: 0px;
    border-color: rgba(52, 52, 97, 1);
    border-width: 1px;
    border-style: solid;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-weight: 500;
    -webkit-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.59);
    -moz-box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.59);
    box-shadow: 4px 6px 5px 0px rgba(0,0,0,0.59);
    transition: 0.5s;
  }
  .botones button:hover{
      transition: 0.5s;
    background: linear-gradient(101deg, #3474b1 87%, rgba(85, 98, 219, 1) 95%);
    margin-left: 10px;
  }
.descripcion:hover{
    color: black;
    transition: 0.5s;
}
.nombre-usuario{
    margin-top: 40px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 40px;
    transition: 1.5s;
}
.nombre-usuario:hover{
    text-shadow:  4px 4px 2px rgba(114, 114, 114, 0.78);
  
    transition: 0.5s;

}